/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*my styles*/


@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('/fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('/fonts/HelveticaNeueCyr-Roman.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('/fonts/HelveticaNeueCyr-Light.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HelveticaNeueCyr-Roman';
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: 'HelveticaNeueCyr-Medium';
}
a:focus {
  outline: none;
}
.btn-dark-green {
  background: #0b7057;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 17px;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  &:hover {
    text-decoration: none;
    background: #fff;
    color: #0b7057;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}
.btn-white {
  background: #fff;
  font-size: 20px;
  text-align: center;
  color: #0b7057;
  text-decoration: none;
  padding: 17px;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
  &:hover {
    text-decoration: none;
    background: #0b7057;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

  }
  &:focus {
    text-decoration: none;
    color: #0b7057;
  }
}
.btn-back {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 20px;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
  &:focus {
    text-decoration: none;
    color: #000;
  }
  &:before {
    content: url("/images/arrow_back.png");
    padding-right: 8px;
  }
}

.wrapper {
  max-width: 1148px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
header {
  padding-bottom: 18px;
  background: rgb(114,206,123); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(114,206,123,1) 0%, rgba(29,120,117,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ce7b', endColorstr='#1d7875',GradientType=1 ); /* IE6-9 */
  .wrapper {
    .top-block {
      padding-top: 27px;
      .logo {
        display: inline-block;
      }
      .top-menu {
        display: inline-block;
        float: right;
        vertical-align: top;
        padding-top: 10px;
        ul {
          li {
            display: inline-block;
            font-size: 14px;
            padding-left: 24px;
            padding-right: 0;
            a {
              color: #fff;
              &:hover {
                color: #fff;
              }
              &:focus {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    margin-bottom: -1px;
    .wrapper {
      .top-block {
        .logo {
          display: block;
          width: 226px;
          margin: auto;
          img {

          }
        }
        .top-menu {
          display: block;
          width: max-content;
          width: -moz-max-content;
          float: none;
          margin: auto;
          ul {
            li {
              padding-left: 12px;
              padding-right: 12px;
            }
          }
        }
      }
    }
  }
}
.s-about {
  background: rgb(114,206,123); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(114,206,123,1) 0%, rgba(29,120,117,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ce7b', endColorstr='#1d7875',GradientType=1 ); /* IE6-9 */
  padding-bottom: 120px;
  .wrapper {
    h1 {
      color: #fff;
      font-size: 44px;
      text-align: center;
      padding-top: 102px;
    }
    .description {
      color: #fff;
      font-size: 24px;
      font-family: 'HelveticaNeueCyr-Medium';
      text-align: center;
      padding-top: 28px;
      line-height: 1.4;
      padding-bottom: 56px;
    }
    .btn-dark-green {
      display: block;
      max-width: 282px;
      float: right;
      margin-right: 15px;
    }
    .btn-white {
      display: block;
      max-width: 282px;
      margin-left: 15px;
    }
  }
}
@media (max-width: 768px) {
  .s-about {
    padding-bottom: 50px;
    .wrapper {
      h1 {
        font-size: 30px;
        padding-top: 70px;
      }
      .description {
        font-size: 16px;
        padding-bottom: 40px;
      }
      .btn-dark-green {
        float: none;
        margin: auto;
        margin-bottom: 20px;
      }
      .btn-white {
        margin: auto;
      }
    }
  }
}
.s-test-list {
  padding-top: 54px;
    h3 {
      font-size: 18px;
      margin-bottom: 23px;
    }
    .test-el {
      max-width: 192px;
      margin: auto;
      margin-bottom: 17px;
      .image {
        background: #dddddd;
        height: 106px;
        overflow: hidden;
        max-width: 192px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
        font-family: 'HelveticaNeueCyr-Roman';
      }
      .desc {
        color: #6e6e6e;
        font-size: 14px;
        line-height: 17px;
        margin-top: 8px;
        font-family: 'HelveticaNeueCyr-Roman';
      }
    }
    .link-more {
      color: #6e6e6e;
      font-size: 14px;
      display: block;
    }
    @media (min-width: 992px) {
      .row {
        margin-left: -20px;
        margin-right: -20px;
        .col-md-2 {
          width: 20%;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

}
.most-recent {
  padding-top: 23px;
  padding-bottom: 57px;
}
.wrapper {
  .gray-line {
    border-bottom: 1px solid #d1d1d1;
    margin-top: 25px;
  }
}
footer {
  background: #257f75;
  padding-top: 84px;
  padding-bottom: 25px;
  .wrapper {
    .bottom-menu {
      display: inline-block;
      ul {
        li {
          display: inline-block;
          font-size: 14px;
          padding-right: 24px;
          padding-left: 0;
          a {
            color: #fff;
            &:hover {
              color: #fff;
            }
            &:focus {
              color: #fff;
            }
          }
        }
      }
    }
    .copyright {
      color: #fff;
      font-size: 14px;
      display: inline-block;
      float: right;
      vertical-align: top;
    }
  }
}
@media (max-width: 768px) {
  footer {
    padding-top: 50px;
    .wrapper {
      .bottom-menu {
        display: block;
        width: max-content;
        width: -moz-max-content;
        float: none;
        margin: auto;
        ul {
          li {
            padding-left: 12px;
            padding-right: 12px;
          }
        }
      }
      .copyright {
        float: none;
        padding-top: 28px;
        text-align: center;
        display: block;
      }
    }
  }
}
.page-wrap {
  padding-bottom: 50px;
  .wrapper {
    .breadcrumb {
      padding-top: 17px;
      display: inline-block;
      background-color: transparent;
      li {
        display: inline-block;
        &.active {
          font-size: 14px;
          color: #6e6e6e;
        }
        a {
          color: #242222;
          font-size: 14px;
        }
      }
    }
    .social-networks {
      float: right;
      vertical-align: top;
      padding-top: 17px;
      li {
        display: inline-block;
      }
    }
    h1 {
      font-size: 30px;
      margin-top: 75px;
      text-align: center;
      font-family: 'HelveticaNeueCyr-Roman';
    }
    .content-block {
      margin-top: 30px;
      font-family: 'HelveticaNeueCyr-Light';
      p {
        line-height: 2;
        font-size: 18px;
      }
      .btn-dark-green {
        display: block;
        max-width: 282px;
        margin: auto;
        margin-top: 106px;
      }
      .progress-title {
        font-family: 'HelveticaNeueCyr-Light';
        font-size: 20px;
        margin-top: 29px;
        margin-bottom: 45px;
        span {
          font-weight: bold;
          font-family: 'HelveticaNeueCyr-Medium';
        }
      }
      .progress {
        border-radius: 10px;
        border: 1px solid #d1d1d1;
        background-color: #fff;
        box-shadow: none;
        width: 92%;
        display: inline-block;
        .progress-bar {
          border-radius: 10px;
          background: rgb(114,206,123); /* Old browsers */
          background: -moz-linear-gradient(left, rgba(114,206,123,1) 0%, rgba(29,120,117,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(114,206,123,1) 0%,rgba(29,120,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ce7b', endColorstr='#1d7875',GradientType=1 ); /* IE6-9 */
        }
      }
      .time-block {
        font-family: 'HelveticaNeueCyr-Light';
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        float: right;
      }
      .top-title {
        font-size: 24px;
        margin-top: 70px;
        margin-bottom: 37px;
      }
      .bottom-title {
        font-size: 24px;
        margin-top: 22px;
        text-align: right;
      }
      .btn-back {
        margin-top: 54px;
        display: block;
      }
    }
  }
}
@media (max-width: 768px) {
  .page-wrap {
    .wrapper {
      .social-networks {
        float: none;
        display: block;
        width: -moz-max-content;
        width: max-content;
        margin: auto;
      }
      .content-block {
        p {
          line-height: 1.5;
          font-size: 16px;
        }
        .progress {
          width: 79%;
        }
        .top-title {
          font-size: 18px;
          text-align: center;
          margin-bottom: 20px;
        }
        .bottom-title {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}

.btn-radio-multiple {
  width: max-content;
  width: -moz-max-content;
  margin: auto;
  .btn-radio {
    margin-bottom: 15px;
    width: 97px;
    display: inline-block;
    margin-left: 28px;
    margin-right: 28px;
    label {
      font-size: 26px;
      text-align: center;
      color: #000;
      border: 1px solid #e8e8e8;
      background-color: #e8e8e8;
      border-radius: 20px;
      padding: 12px;
      width: 100%;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      &:hover {
        border: 1px solid #0b7057;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }
    input {
      display: none;
      &:checked {
        &+label {
          background: #0b7057;
          font-size: 26px;
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .btn-radio-multiple {
    .btn-radio {
      display: block;
      width: 150px;
    }
  }
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #257f75;
  border-color: #257f75;
  cursor: default;
}
.pagination>li>a, .pagination>li>span {
  color: #257f75;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #257f75;
}

.test-block {
  max-width: 915px;
  margin: auto;
  .swiper-container {
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding-top: 33px;
  }
  .swiper-slide {
    .test-title {
      text-align: center;
      font-size: 24px;
      margin-top: 17px;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 25px;
    width: auto;
    font-size: 21px;
  }
  .btn-radio-multiple-text {
    max-width: 600px;
    margin: auto;
    padding-top: 15px;
    .btn-radio {
      margin-bottom: 10px;
      label {
        font-size: 16px;
        text-align: center;
        color: #000;
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        padding: 12px;
        width: 100%;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        &:hover {
          border: 1px solid #0b7057;
          background-color: #0b7057;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
        }
      }
      input {
        display: none;
        &:checked {
          &+label {
            background: #0b7057;
            font-size: 26px;
            color: #fff;
          }
        }
      }
    }
    .btn-back {
      font-size: 16px;
      margin-top: 40px;
      display: block;
    }
  }
  .btn-radio-multiple-image {
    max-width: 600px;
    margin: auto;
    padding-top: 15px;
    .btn-radio {
      margin-bottom: 10px;

      label {
        font-size: 16px;
        text-align: center;
        color: #000;
        padding: 12px;
        width: 100%;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          outline: none;
        }
        &:hover .image {
          border: 1px solid #0b7057;
          -webkit-box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
          -moz-box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
          box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
        }
        .image {
          margin-bottom: 10px;
          background: #dddddd;
          height: 145px;
          overflow: hidden;
          max-width: 260px;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      input {
        display: none;
        &:checked {
          &+label {
            font-size: 26px;
            color: #fff;
          }
        }
      }
    }
    .btn-back {
      font-size: 16px;
      margin-top: 40px;
      display: block;
    }
  }
}
.sidebar-block {
  .title {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 17px;
  }
  .sidebar-el {
    margin-bottom: 12px;
    a {
      color: #333;
      &:hover .text {
        text-decoration: underline;
        color: #333;
      }
      &:hover .image {
        -webkit-box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
        box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }
    .image {
      background: #dddddd;
      height: 73px;
      overflow: hidden;
      max-width: 100px;
      margin: auto;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      font-size: 14px;
    }
  }
}
.test-begin {
  .test-begin-title {
    font-size: 26px;
    margin-top: 11px;
  }
  .written-by {
    color: #6e6e6e;
    margin-top: 14px;
    font-size: 15px;
    span {
      color: #333;
    }
  }
  .test-begin-img {
    max-width: 600px;
    margin: auto;
    margin-top: 17px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .btn-dark-green {
    max-width: 250px;
    position: relative;
    top: -31px;
    margin: auto;
    display: block;
  }
}

